<div class="container my-4">
  <div class="article-card">
    <h2 class="card-title">Historique des Charges</h2>

    <div class="card-body">
      <div class="d-flex align-items-center mb-3">
        <input type="text" class="form-control me-2" placeholder="Recherche..." [(ngModel)]="searchQuery"
          (input)="applyFilter()" style="border: 1px solid #ddd; border-radius: 8px;" />
        <select class="form-select me-2" [(ngModel)]="filterCategory" (change)="applyFilter()"
          style="border: 1px solid #ddd; border-radius: 8px;">
          <option value="">Toutes les catégories</option>
          <option>Matières premières</option>
          <option>Main-d'œuvre</option>
          <option>Maintenance et équipements</option>
          <option>Logistique</option>
          <option>Charges fixes</option>
        </select>
        <input type="month" class="form-control" [(ngModel)]="filterMonthYear" (change)="applyFilter()"
          style="border: 1px solid #ddd; border-radius: 8px;" />
      </div>

      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th (click)="sortBy('nom')">Nom</th>
              <th (click)="sortBy('montant')">Montant</th>
              <th (click)="sortBy('categorie')">Catégorie</th>
              <th (click)="sortBy('date')">Date</th>
              <th>Notes</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let expense of filteredExpenses">
              <td>{{ expense.nom }}</td>
              <td>{{ expense.montant }}</td>
              <td>{{ expense.categorie }}</td>
              <td>{{ expense.date }}</td>
              <td>{{ expense.notes }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="d-flex justify-content-end mt-3">
        <button class="btn btn-primary me-2" (click)="exportToExcel()">Exporter en Excel</button>
        <button class="btn btn-primary" (click)="exportToPDF()">Exporter en PDF</button>
      </div>
    </div>
  </div>
</div>