<div class="container my-4">
  <div class="add-expense-card">
    <h2 class="card-title">Ajout de Charges</h2>

    <div class="card-body">
      <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="nom" class="form-label">Nom de la charge:</label>
          <input
            id="nom"
            type="text"
            class="form-control"
            [(ngModel)]="expense.nom"
            name="nom"
            required
          />
        </div>

        <div class="mb-3">
          <label for="montant" class="form-label">Montant:</label>
          <input
            id="montant"
            type="number"
            class="form-control"
            [(ngModel)]="expense.montant"
            name="montant"
            required
          />
        </div>

        <div class="mb-3">
          <label for="categorie" class="form-label">Catégorie:</label>
          <select
            id="categorie"
            class="form-select"
            [(ngModel)]="expense.categorie"
            name="categorie"
            required
          >
            <option *ngFor="let category of categories" [value]="category">
              {{ category }}
            </option>
          </select>
        </div>

        <div class="mb-3">
          <label for="date" class="form-label">Date:</label>
          <input
            id="date"
            type="date"
            class="form-control"
            [(ngModel)]="expense.date"
            name="date"
            required
          />
        </div>

        <div class="mb-3">
          <label for="notes" class="form-label">Notes supplémentaires (facultatif):</label>
          <textarea
            id="notes"
            class="form-control"
            [(ngModel)]="expense.notes"
            name="notes"
          ></textarea>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary px-4">
            Ajouter
          </button>
        </div>
      </form>
    </div>
  </div>
</div>