<div class="add-expense-container">
    <h2>Ajout de Charges</h2>
  
    <form (ngSubmit)="onSubmit()">
      <label for="nom">Nom de la charge:</label>
      <input id="nom" type="text" [(ngModel)]="expense.nom" name="nom" required />
  
      <label for="montant">Montant:</label>
      <input id="montant" type="number" [(ngModel)]="expense.montant" name="montant" required />
  
      <label for="categorie">Catégorie:</label>
      <select id="categorie" [(ngModel)]="expense.categorie" name="categorie" required>
        <option *ngFor="let category of categories" [value]="category">
          {{ category }}
        </option>
      </select>
  
      <label for="date">Date:</label>
      <input id="date" type="date" [(ngModel)]="expense.date" name="date" required />
  
      <label for="notes">Notes supplémentaires (facultatif):</label>
      <textarea id="notes" [(ngModel)]="expense.notes" name="notes"></textarea>
  
      <button type="submit">Ajouter</button>
    </form>
  </div>
  