<div class="container">
  <nav class="sidebar">
    <h2>My App</h2>
    <ul>
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a routerLink="/add-command">Add Command</a></li>
      <li><a routerLink="/view-commands">View Commands</a></li>
      <li><a routerLink="/add-expense">Add Expenses</a></li>
      <li><a routerLink="/expense-history">Expenses History</a></li>
      <li><a routerLink="/statistics">Statistics</a></li>
    </ul>
  </nav>
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
