
<div *ngIf="isLoggedIn" class="d-flex">
  <div [ngClass]="{'collapsed': sideCollapsed}" id="sidebar" class="text-white bg-dark sidebar">
    <nav class="nav flex-column">
      <div class="navbar-brand" href="#">
        <img [src]="sideCollapsed ? '../../../../assets/ShortLogo.png' : '../../../../assets/fullLogo.png'"
          [style.width]="sideCollapsed ? '65px' : '160px'" alt="Logo">
      </div>
      <a class="nav-link">
        <span class="nav-icon" (click)="sideCollapsed = !sideCollapsed"><i class="fa-solid fa-bars"></i></span>
      </a>
      <a *ngFor="let navOption of screens" class="nav-link" [ngClass]="{'selected': activeLink === navOption.href}"
        (click)="activeLink = navOption.href" [routerLink]="navOption.href">
        <span class="nav-icon"><i [class]="navOption.icon"></i></span>
        <span class="nav-label">{{navOption.name}}</span>
      </a>

      <div class="d-flex justify-content-center mt-3">
        <button class="btn btn-danger btn-sm" style="width: 100px;" (click)="logout()">Logout</button>
      </div>
    </nav>
  </div>
  <main class="content" [ngStyle]="{'margin-left': sideCollapsed ? '70px' : '250px'}">
    <router-outlet></router-outlet>
  </main>
</div>

<router-outlet *ngIf="!isLoggedIn"></router-outlet>
