.article-card {
  position: relative;
  border: 1px solid white;
  border-radius: 8px;
  background-color: #fff;
  margin-top: 2rem;
  filter: drop-shadow(0 0 2px #c4c4c4);
}

.card-body {
  padding: 30px 20px;
}

.remove-btn {
  position: absolute;
  top: -1px;
  right: -1px;
  background-color: #555555;
  color: white;
  border: none;
  font-size: 20px;
  border-radius: 20%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}

.remove-btn:hover {
  background-color: #a3a3a3;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  position: absolute;
  top: -20px;
  background: white;
  padding: 4px 14px;
  border-radius: 6px;
  color: #3b3b3b;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.main-article-card {
  position: relative;
  border: 1px solid white;
  border-radius: 8px;
  background-color: #fff;
  margin-top: 2rem;
  filter: drop-shadow(0 0 4px #c4c4c4);
  padding: 1rem;
}

.main-card-title {
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  top: -20px;
  background: white;
  padding: 6px 16px;
  border-radius: 8px;
  color: #3b3b3b;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
