<div class="container mt-4">
  <div class="main-article-card">
    <h2 class="main-card-title">Add Command</h2>
    <form [formGroup]="commandForm" (ngSubmit)="onSubmit()">
      <div class="card article-card mb-3" style="padding: 15px 20px;">
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="nom" class="form-label">Nom</label>
            <input id="nom" formControlName="nom" placeholder="Enter Nom" class="form-control" />
            <small class="text-danger" *ngIf="commandForm.get('nom')?.invalid && commandForm.get('nom')?.touched">
              Nom is required and must have at least 2 characters.
            </small>
          </div>
          <div class="col-md-6">
            <label for="prenom" class="form-label">Prénom</label>
            <input id="prenom" formControlName="prenom" placeholder="Enter Prénom" class="form-control" />
            <small class="text-danger" *ngIf="commandForm.get('prenom')?.invalid && commandForm.get('prenom')?.touched">
              Prénom is required and must have at least 2 characters.
            </small>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="adresse" class="form-label">Adresse</label>
            <input id="adresse" formControlName="adresse" placeholder="Enter Adresse" class="form-control" />
            <small class="text-danger"
              *ngIf="commandForm.get('adresse')?.invalid && commandForm.get('adresse')?.touched">
              Adresse is required.
            </small>
          </div>
          <div class="col-md-6">
            <label for="telephone" class="form-label">Téléphone</label>
            <div class="input-group">
              <input
                id="telephone"
                formControlName="telephone"
                placeholder="Enter Téléphone"
                class="form-control"
                (blur)="checkPhoneHistory(commandForm.get('telephone')?.value)"
                (input)="resetHistoryButton()"
              />
              <button
                type="button"
                class="btn btn-outline-secondary"
                *ngIf="phoneHistory.length > 0"
                (click)="showPhoneHistory()"
              >
                <i class="fa-solid fa-info-circle"></i>
              </button>
            </div>
            <small
              class="text-danger"
              *ngIf="commandForm.get('telephone')?.invalid && commandForm.get('telephone')?.touched"
            >
              Téléphone is required and must be a valid number.
            </small>
          </div>
        </div>
        <div class="mb-3">
          <label for="date" class="form-label">Date:</label>
          <input
            formControlName="date"
            id="date"
            type="date"
            class="form-control"
            name="date"
            required
          />
        </div>
        <div class="row mb-3">
          <div class="col-12">
            <label for="note" class="form-label">Note</label>
            <textarea id="note" formControlName="note" placeholder="Enter Note" class="form-control"></textarea>
          </div>
        </div>
      </div>

      <div formArrayName="articles">
        <div *ngFor="let article of articles.controls; let i = index" [formGroupName]="i">
          <div class="card article-card mb-3">
            <div class="card-body">
              <button type="button" class="btn btn-danger remove-btn" (click)="removeArticle(i)">
                <i class="fa-solid fa-times"></i>
              </button>
              <h5 class="card-title">Article {{ i + 1 }}</h5>
              <div class="row">
                <div class="col-md-6">
                  <label for="article-name-{{ i }}" class="form-label">Article Name</label>
                  <input id="article-name-{{ i }}" formControlName="name" placeholder="Enter Article Name"
                    class="form-control" />
                  <small class="text-danger" *ngIf="article.get('name')?.invalid && article.get('name')?.touched">
                    Article Name is required.
                  </small>
                </div>
                <div class="col-md-6">
                  <label for="article-price-{{ i }}" class="form-label">Prix</label>
                  <input id="article-price-{{ i }}" formControlName="price" placeholder="Enter Article Price"
                    class="form-control" />
                  <small class="text-danger" *ngIf="article.get('price')?.invalid && article.get('price')?.touched">
                    Price is required and must be a valid number.
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center mb-3">
        <button type="button" class="btn btn-primary me-3" (click)="addArticle()">Add Article</button>
        <button type="submit" class="btn btn-success" [disabled]="commandForm.invalid">Add Command</button>
      </div>
    </form>
  </div>
</div>